nav {
  padding: 1em 2em;
}

:host-context(.color-scheme-light) nav {
  background-color: var(--color-white);
}

:host-context(.color-scheme-dark) nav {
  background-color: var(--color-shade-900);
}

nav a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  color: inherit;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

nav .inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav .secondary {
  /* width: 80ch; */
  max-width: 100%;
  margin: 0 auto;
}

nav .inner-wrapper.secondary {
  justify-content: center;
}

nav .inner-wrapper.secondary a.active {
  text-decoration: underline;
}

:host-context(.color-scheme-light) nav .inner-wrapper.secondary a.active {
  color: var(--color-primary-omp-500);
}

:host-context(.color-scheme-dark) nav .inner-wrapper.secondary a.active {
  color: var(--color-primary-omp-100);
}

nav button {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  margin: 0 1em 0 0;
  padding: 0.4em 0.8em;
  border-radius: 4px;
  outline: none;
}

:host-context(.color-scheme-light) nav button {
  color: var(--color-shade-700);
  border-color: var(--color-shade-700);
}

:host-context(.color-scheme-dark) nav button {
  color: var(--color-shade-200);
  border-color: var(--color-shade-200);
}

nav button:focus {
  outline: none;
}

:host-context(.color-scheme-light) nav button:hover,
:host-context(.color-scheme-light) nav button:focus {
  color: var(--color-primary-omp-100);
  border-color: var(--color-primary-omp-500);
  background-color: var(--color-primary-omp-500);
}

:host-context(.color-scheme-dark) nav button:hover,
:host-context(.color-scheme-dark) nav button:focus {
  color: var(--color-primary-omp-500);
  border-color: var(--color-primary-omp-100);
  background-color: var(--color-primary-omp-100);
}

nav button:last-child {
  margin-right: 0;
}
