<nav>
  <div *ngIf="section === 'primary'" class="inner-wrapper primary">
    <div>
      <p>Adstate Begravelsesbyrå</p>
    </div>
    <div>
      <button>Kontakt administrator</button>
      <button>Meny ⬇️</button>
    </div>
  </div>
  <div *ngIf="section === 'secondary'" class="inner-wrapper secondary">
    <a href="#">Hjem</a>
    <a href="#">Bestill blomster</a>
    <a href="#">Om begravelsen</a>
    <a href="#">Dødsannonse </a>
    <a href="#">Galleri</a>
    <a href="#">Links</a>
  </div>
</nav>
