<app-omp-navigation section="primary"></app-omp-navigation>
<app-omp-header
  [person]="{
    name: order.firstname + ' ' + order.lastname,
    birth: order.birth_date,
    passing: order.death_date,
    image: {
      src:
        'https://horten.vareminnesider.no/stream_file.php?filename=3831887.jpg&type=profile_photo_preview&sign=c9e74cb3560729d6a23f1c5faae738de',
      alt: ''
    }
  }"
  [background]="{
    image: {
      src: 'https://horten.vareminnesider.no/assets/design/horten/img/default_cover_photo.png',
      alt: ''
    }
  }"
></app-omp-header>
<app-omp-navigation section="secondary"></app-omp-navigation>
<ng-content></ng-content>
<footer>
  <p>Footer</p>
</footer>
