<header>
  <div class="background">
    <img [src]="background.image.src" [alt]="background.image.alt" />
  </div>
  <div class="content">
    <div class="contentPhoto">
      <img [src]="person.image.src" [alt]="person.image.alt" />
    </div>
    <div class="contentText">
      <h1>{{ person.name }}</h1>
      <dl>
        <dt *ngIf="!!person.birth">Født:</dt>
        <dd *ngIf="!!person.birth">{{ person.birth }}</dd>
        <dt *ngIf="!!person.passing">Død:</dt>
        <dd *ngIf="!!person.passing">{{ person.passing }}</dd>
      </dl>
    </div>
  </div>
</header>
