<div class="wrapper">
  <div *ngIf="mobileMenuOpen" (click)="mobileMenuOpen = !mobileMenuOpen" class="backdrop"></div>
  <nav>
    <section class="branding">
      <div class="logo">
        <a href="/">Adstate — NG</a>
      </div>
      <div class="logo-mobile">
        <a href="/">NG</a>
      </div>
    </section>
    <section class="mobile-links">
      <button (click)="mobileMenuOpen = !mobileMenuOpen">
        <span *ngIf="!mobileMenuOpen" class="open">≡</span>
        <span *ngIf="mobileMenuOpen" class="close">⨯</span>
      </button>
    </section>
    <section
      [ngClass]="'links ' + (mobileMenuOpen ? 'active' : '')"
      (click)="mobileMenuOpen && (mobileMenuOpen = false)"
    >
      <a class="link" routerLink="/dashboard" routerLinkActive="active">
        <span class="icon"><streamline-icon [icon]="icons.dashboard" stroke="currentColor"></streamline-icon></span>
        <span class="text">Dashboard</span>
      </a>
      <a class="link" routerLink="/orders" routerLinkActive="active">
        <span class="icon"><streamline-icon [icon]="icons.orders" stroke="currentColor"></streamline-icon></span>
        <span class="text">Orders</span>
      </a>
      <a class="link" routerLink="/memorial-page" routerLinkActive="active">
        <span class="icon"><streamline-icon [icon]="icons.links" stroke="currentColor"></streamline-icon></span>
        <span class="text">Memorial Page</span>
      </a>
    </section>
  </nav>
</div>
